@charset "utf-8";
body{
	background:#F0F0F0;
}
.container{
	width:100%;
	
}
.header{
	width:100%;
	height:105px;
	background:#373737;
}
.logo{
	width:600px;
	float:left;
	height:105px;
}
.logo-main{
	width:460px;
	padding:20px 70px;

}
.logo-main img{
	width:320px;
	height:75px;
	display:block;
}
.ph{
	width:400px;
	height:80px;
	line-height:40px;
	float:right;
	margin-top:10px;
}
.ph p{
	width:240px;
	margin-top:20px;
	color:#fff;
	font-size:16px;
	text-indent:20px;
	float:left;
}
.admin{
	width:160px;
	height:30px;
	float:right;
	text-align:left;
	margin-top:20px;
}
ul.topnav {
	list-style: none;
	padding: 0 20px;	
	margin: 0;
	float: left;
	width: 120px;
	background: #222;
	font-size: 1.2em;
	background: url(../img/topnav_bg.gif) repeat-x;
}
ul.topnav li {
	float: left;
	margin: 0;	
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base--*/
}
ul.topnav li .ad{
	width:50px;
	height:35px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
	background:url(../img/admin.png) no-repeat 0% 50%;
}

ul.topnav li span { /*--Drop down trigger styles--*/
	width: 20px;
	height: 35px;
	float: left;
	background: url(../img/select_xli.png) no-repeat 20% 50%;
}
 /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 70px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 70px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 70px;
	font-size:14px;
	text-align:center;
	color:#fff;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	text-decoration: none;
}
.main{
	width:1360px;
	margin:0 auto;
	height:820px;
}
.leftnav{
	width:300px;
	float:left;

}
.leftsidebar_box{
	width:200px;
	margin-left:20px;
	overflow:visible !important;
	background-color:#4C2C4C;
	padding-left:30px;
    padding-right:30px;
    height:860px;

	
}
.nav-header{
	height:120px;  
	overflow:hidden;   
    }
.nav-admin-png{
	width:105px;
	height:105px;
	margin:10px 50px;
	border-radius:80px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.4); 
   -moz-border-radius: 80px;   
   -webkit-border-radius: 80px;
    background: #fff url(../img/admin-nav.png) no-repeat 50% 50%;
}

.leftsidebar_box dt{
	text-indent:40px;
	padding-right:10px;
	background-repeat:no-repeat;
	background-position:10px center; 
	color:#fff;
	font-size:14px;
	position:relative;
	line-height:48px;
	cursor:pointer;
   font-size:16px;
}

.leftsidebar_box dd{
	background-color:#000;
	padding-left:40px;
}
.leftsidebar_box dd a{
	color:#fff;
	line-height:40px;
	font-size:16px;
}


.leftsidebar_box dt img{
	position:absolute;
	right:10px;
	top:20px;
}
.leftsidebar_box dt a{
	color:#fff;
}
.line{
	height:2px;
	width:100%;
}
.system_log dt{background-image:url(../img/system.png)}
.custom dt{background-image:url(../img/custom.png)}
.channel dt{background-image:url(../img/channel.png)}
.app dt{background-image:url(../img/app.png)}
.cloud dt{background-image:url(../img/cloud.png)}
.syetem_management dt{background-image:url(../img/syetem_management.png)}
.source dt{background-image:url(../img/source.png)}
.statistics dt{background-image:url(../img/statistics.png)}
.leftsidebar_box dl dd:last-child{padding-bottom:10px;}
.leftsidebar_box-2 dl dd:last-child{padding-bottom:10px;}
.right-main{
	float:left;
	width:1000px;
}
.right-title{
	height:60px;
	line-height: 60px;
	text-indent:30px;
	
}
.right-title a{
	color:#373737;
}
.right-title a:hover{
	text-decoration: none;
}
.buttons{
	height:130px;
	margin-top:10px;


}
.buttons a{
	font-size: 15px;
}
.buttons a:hover {
text-decoration: none;
}

.button{
	float:left;
	margin-left:30px;
	display:block;
	width:60px;
	height:90px;
	padding:10px 30px;
	border-radius:5px;
	background:#f7f7f7;
	line-height:36px;
	text-align: center;
	color:#fff;
	border:1px solid #ccc;
}
.button img{
	width:48px;
	height:48px;
}
.title{
	display:block;
	height:24px;
	line-height: 24px;
	color:#ccc;
}
.button:hover{
	background:#fff;
}
.admin-main{
	height:500px;
	margin-top:10px;
}
.col{
	width:460px;
	height:300px;
	
	float:left;
	margin-left:10px;
	margin-right:20px;
	margin-bottom:40px;
	background:#fff;
	color:#000;
	border:1.5px solid #ccc;
	
}
.col-all{
	width:950px;
	height:300px;
	border-radius:4px;
	float:left;
	margin:0 auto;
	margin-left:10px;
	margin-right:20px;
	margin-bottom:40px;
	background:#fff;
	color:#000;
	border:1.5px solid #ccc;
	
}
.col-title-2{
	height:40px;
	background:#ebebeb;
	line-height: 40px;
	text-indent:20px;
	color:#373737;
	margin-bottom:10px;
	
}
.col-title{
	height:40px;
	background:#ebebeb;
	line-height: 40px;
	text-indent:20px;
	color:#373737;
	margin-bottom:10px;
}
.col-main ul{
    margin-left:20px;
	width:420px;
	height:35px;
	
}
.col-main-2 ul{
    margin-left:20px;
	width:860px;
	height:35px;
	
}
.update-program{
	width:110px;
	float:left;
	height:35px;
	line-height:35px;
	text-align:center;
}
.update-time{
	width:180px;
	float:left;
	height:35px;
	line-height:35px;
	text-align:center;
}
.funcation{
	width:100px;
	float:left;
	height:35px;
	line-height:35px;
	text-align:center;
}
.point-main{
	padding:10px 20px;
	line-height: 28px;
	text-indent:20px;
	font-size:15px;
    color:#000;
}
.newstitle{
	width:260px;
	float:left;
	height:35px;
	line-height:35px;
	text-align:center;
	display:block;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.upload-user{
	width:150px;
	float:left;
	height:35px;
	line-height: 35px;
	text-align:center;
}
.id{
	width:50px;
	float:left;
	height:35px;
	line-height: 35px;
	text-align: center;
}

.warning{
	color:red;
}

.col-main-i{
padding:20px;
}
.col-main-i ul li{
height:40px;
line-height: 40px;
font-size:16px;
margin-bottom:20px;
text-indent:20px;
border-radius: 10px;
color:#000;
background:#FFCECE;
border-bottom:1px solid #ddd;
}

.newsbox{
	width:900px;
	margin:10px auto;
}
.newsbox-2{
	width:900px;
	margin:30px auto 0;
	background:#fff;
	border:1px solid #000;
	border-radius: 10px;

}
.newsleft{
	width:400px;
	float:left;
    background:#fff;
    border:1px solid #ccc;

}
.newsleft ul li{
	border-bottom:1px dotted #D8D8D8;

}
.newsright ul li{
	border-bottom:1px dotted #D8D8D8;

}
.publish-title{
	height:50px;
	line-height:50px;
	padding-left:20px;
	padding-right:20px;
	background:#4C2C4C;
	color:#fff;
}


.newsright{
	width:400px;
	float:left;
    background:#fff;
    margin-left:50px;
      border:1px solid #ccc;
}
.publish-content{
	padding-left: 20px;
	padding-right: 20px;
}
 .li-left{
	width:220px;
	float:left;
	height:50px;
	line-height: 50px;
	text-align:center;
     
}
.li-right{
	width:140px;
	float:left;
    height:50px;
	line-height: 50px;
	text-align:center;

}
.li-left a{
color:#000;
font-size: 15px;

}
 .left{
	display:block;
	width:50px;
	height:28px;
	margin-left:13px;
	background:#3c3c3c;
	float:left;
	line-height: 28px;
	text-align:center;
	color:#fff;
	border-radius: 10px;
	margin-top:10px;

}
.right{
	display:block;
	width:50px;
	height:28px;
	margin-left:13px;
	background:#3c3c3c;
	float:left;
	line-height: 28px;
	text-align:center;
	color:#fff;
	border-radius: 10px;
	margin-top:10px;

}
.page-title{
	width:880px;
	margin-bottom:10px;
	padding-left:10px;
	height:50px;
	line-height:50px;
	color:#000;
    
}
.leftsidebar_box-2{
	width:200px;
	margin-left:20px;
	overflow:visible !important;
	background-color:#4C2C4C;
	padding-left:30px;
    padding-right:30px;
    height:600px;
	
}

.leftsidebar_box-2 dt{
	text-indent:40px;
	padding-right:10px;
	background-repeat:no-repeat;
	background-position:10px center; 
	color:#fff;
	font-size:14px;
	position:relative;
	line-height:48px;
	cursor:pointer;
   font-size:16px;
}

.leftsidebar_box-2 dd{
	background-color:#000;
	padding-left:40px;
}
.leftsidebar_box-2 dd a{
	color:#fff;
	line-height:40px;
	font-size:16px;
}
.leftsidebar_box-2 dt img{
	position:absolute;
	right:10px;
	top:20px;
}
.leftsidebar_box-2 dt a{
	color:#fff;
}
.main-2{
	height:600px;
	width:1360px;
	margin:0 auto;
}
.add-table{
width:900px;
height:600px;
padding-bottom:20px;
}
.table-left{
	width:500px;
    padding-left:50px;
    padding-right:20px;
    float:left;
}
.table-title{
padding-top:20px;
height:70px;
text-align: center;
color:#fff;
}
.table-title h3{
	height:40px;
	line-height: 40px;
}
.table-content{
	margin-left:20px;
}
.tablecon {
    width: 400px;
    height: 50px;
    line-height: 50px;
    text-indent: 20px;
    margin-top: 5px;
    margin-left: 50px;
    font-size: 16px;
}
.te {
    width: 300px;
    border: 1px solid #555;
    height: 30px;
    text-indent: 10px;
    }
    .warning{
    	line-height: 30px;
    }
    .buttons-adduser{
    	margin-top:10px;
    	height:70px;
    	text-align:center;
    	line-height:70px;
    	margin-left:20px;
    	width:460px;
    }
    .button-adduser{
    	height:30px;
    	width:70px;
    	background:#3c3c3c;
    	margin-right:40px;
    	border:none;
    	color:#fff;
    	border-radius: 10px;

    }
.table-right{
	height:400px;
	width:328px;
	margin-top:100px;
	border-left:1px solid #3c3c3c;
	float:left;
}
.right-show{
	height:400px;
	width:298px;
	margin-left:30px;
}
.show-title{
	height:40px;
	border-bottom:1px solid #CCCCCC;
}
.show-title h3{
	width:200px;
	height:40px;
	line-height: 40px;
	float:left;
}
.show-title a{
	width:50px;
	height:40px;
	line-height: 40px;
	float:right;
}
.right-show ul{
	margin-left:10px;
}
.right-show ul li{
	width:90px;
	height:50px;
	line-height: 50px;
   border-bottom:1px solid #d8d8d8;
   float:left;
   text-align:center;
}
.table-main{
	width:600px;
	padding-left:50px;
	padding-right:50px;
	margin:0 auto;
}
.table-content-2{
	padding-left:100px;
}
.text-list{
	margin-left:10px;
	margin-right:10px;
	padding-bottom:120px;
	position:relative;
}
.newsbox-list ul{
	
	width:880px;
	margin-top:20px;
    color:#fff;
}
.newsbox-list table td{
 overflow:hidden;
}
.newsbox-list ul li {
float:left;
height:40px;
line-height: 40px;
text-align: center;
}

.article-title{
	width:220px;
	display:block;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.user{
	width:120px;
}
.upload-time{
	width:160px;
}
.operate{
	width:240px;
}
.first{
	height:40px;
	background:#3c3c3c;
	border-radius: 10px;
	
}
.next li{
	color:#000;
}
.newsbox-list ul{
	height:40px;
}
.pagedown{
	position:absolute;
	right:20px;
	bottom:30px;
}
.pagedown a{
	width:60px;
	height:35px;
	line-height: 35px;
	display:block;
	float:left;
	text-align: center;
	background:#3c3c3c;
	margin-left:15px;
	border-radius: 10px;
	color:#fff;

}
.upload-main{
	padding-left:10px;
	padding-right:10px;
	height:600px;
}
.upload-title{
	height:70px;
}
.upload-title p{
height:70px;
line-height: 70px;
font-size:16px;
text-indent:20px;
float:left;
display:block;
}
.article{
	height:35px;
    width:400px;
    text-indent:10px;
    border:1px solid #eee;
}
.name{
	height:35px;
    width:240px;
    text-indent:10px;
    border:1px solid #eee;
}
.area-title{
height:40px;
line-height: 40px;
text-indent: 20px;
font-size: 16px;
}
.text-area{
	padding-left:20px;
}

.operate a{
	width:65px;
	height:30px;
	text-align: center;
	float:left;
	color:#fff;
	line-height: 30px;
	border-radius: 15px;
	margin-top:4px;
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	-o-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	
}

.change{
	background:#2A8CC7;
	
}
.view{
	background:#37BD45;
	margin-left:10px;
	
}
.remove{
	background:#2A8CC7;
	margin-left:10px;
	
}
.click{
	width:80px;
	float:left;
}
.page{
	height:40px;
	line-height:40px;

}

.up{
	width:70px;
	height:30px;
	border-radius: 4px;
    background:#4C2C4C;
    color:#fff;
    border:1px solid #eee;
    margin-left:10px;
}

.give-up{
	width:70px;
	height:30px;
	border-radius: 4px;
    background:#4C2C4C;
    margin-left:20px;
    color:#fff;
     border:1px solid #eee;
}

.button-right{
	width:150px;
	float:right;
	height:50px;
	line-height:50px;
	display:block;
	background:url(../img/write.png) no-repeat 0 50%;
	text-indent:35px;
	color:#333;
}

